:host {
    font-family: monospace;
}

h1 {
    font-size: 50px;
}

ul.suggestion-content li {
    list-style-type:  none;
    padding: 0;
    margin: 0;
}

ul.suggestion-content {
    padding: 0;
    margin: 0;
    padding-top: 80px;
}
